h1 Cosmic Defender
button#start-button Start Game
div#player-prompt.hidden
    = form_with url: '/save_player', method: :post, id: 'player-form', remote: true do |form|
        = form.label :name, 'Enter your name:'
        = form.text_field :name, id: 'player-name'
        = form.submit 'Continue', id: 'continue-button'
div#high-scores-prompt.hidden
    button#show-high-scores Show High Scores
div#game-container
div#player-name-display.hidden

style
    |
    .hidden {display: none;}

javascript:
    document.addEventListener("DOMContentLoaded", function () {
        console.log("RAILS LOADED",Rails_ujs);
        console.log("DOMContentLoaded triggered");  // Debugging line
        const form = document.getElementById('player-form');
        const playerNameDisplay = document.getElementById('player-name-display');
        const playerPrompt = document.getElementById('player-prompt');

        form.addEventListener('submit', function (event) {
            console.log("RAILS SUBMITTED", Rails_ujs);

            event.preventDefault();  // Prevent normal form submission
            console.log("Form submit prevented");  // Debugging line

            const playerName = document.getElementById('player-name').value;

            Rails.ajax({
                url: "/save_player",
                type: "POST",
                data: "name=" + playerName,
                success: function(data) {
                    console.log("Ajax success:", data);  // Debugging line

                    // Hide the form
                    playerPrompt.classList.add('hidden');

                    // Display the player's name
                    playerNameDisplay.textContent = `Welcome, ${data.name || "Unknown Player"}`;
                    playerNameDisplay.classList.remove('hidden');
                },
                error: function(data) {
                    console.log("Ajax error:", data);  // Debugging line
                }
            });
        });
    });
