body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1#title {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
}

button#start-button,
input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #00ff00;
    border: none;
    cursor: pointer;
}
div#player-prompt,
div#high-scores-prompt {
    text-align: center;
}
#high-scores-prompt table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
    max-height: 300px;
    overflow-y: auto;
}

#high-scores-prompt th,
#high-scores-prompt td {
    padding: 12px;
    text-align: left;
}

#high-scores-prompt th {
    background-color: rgba(0, 0, 0, 0.2);
}

#high-scores-prompt tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}
#high-scores-prompt {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
#high-scores-prompt tr:hover {
    background-color: rgba(0, 255, 0, 0.3);
    cursor: pointer;
}

#high-scores-prompt tr:active {
    background-color: rgba(0, 255, 0, 0.5);
}
button#start-button,
input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #00ff00;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button#start-button:hover,
input[type="submit"]:hover {
    background-color: #008800;
}
button#start-button:active,
input[type="submit"]:active {
    background-color: #006600;
}
.center-screen {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-label {
    width:400px;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.form-input {
    font-size: 1.2em;
    padding: 0.5em;
    width: 100%;
}
.btn {
    margin-top: 1em;
}
#title {
    text-align: center;
}
button.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #00ff00;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button.btn:hover {
    background-color: #008800;
}

button.btn:active {
    background-color: #006600;
}
#player-form {margin: 0px}
